.vRadio input{
	display: none;
}

.vRadio a{
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 5px;
	border-radius: 12px;
	border: 1px solid #666;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.vRadio a,
.vRadio a.selected:hover{
	background: #eee;
}

.vRadio a:hover{
	background: #adf;
}

.vRadio div{
	display: none;
	width: 50%;
	height: 50%;
	margin: 25%;
	border-radius: 50%;
	background: #9cf;
	box-shadow: 0 0 2px 2px #036, inset -1px -1px 3px #06c;
}

.vRadio a.selected div{
	display: block;
}